
html, body, #viewDiv01 {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    
    

#popdiv_write{
	position: absolute;
	top: 500px;
	right: 120px;
	width: 30%;
	height: 120px;
	padding: 20px;
	background-size: 100%;
	background-color: transparent;
	opacity: 0.8;
	z-index: 9;
	
	border: 0px dashed hsl(-1, 0%, 100%);
	border-radius:5px ;
}

.basemap{
	float: left;
	margin: 10px;
	z-index: 20;
}

#titleview{
	text-align: center;
	background-color: antiquewhite;
	height: 6.5%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "楷体";
	font-size: 40px;
	color: #555555;
}


