html,body,#viewDiv {
				padding: 0;
				margin: 0;
				height: 100%;
				width: 100%;
			}
			
#LayerBox{
	position: absolute;
	top: 400px;
	right: 10px;
	width: 230px;
	height: 200px;
	margin: 5px;
	background-size: 100%;
	background-color:transparent;
	opacity: 0.8;
	z-index: 9;

	border: 3px dashed hsl(0, 70%, 53%);
	border-radius:5px ;
	text-align: center;
	font-family: "微软雅黑";
}

.button_Add{
	margin-left: 5px;
	float: left;
	background-color: white;
	border: 1px solid lightgreen;
	color: lightgreen;
	border-radius:5px ;
	height: 20px;
	width: 20px;
	opacity: 0.8;
}

.button_Remove{
	margin-left: 5px;
	float: left;
	position:initial;
	background-color: white;
	border: 1px solid red;
	color: red;
	border-radius:5px ;
	height: 20px;
	width: 20px;
	opacity: 0.8;
}

#SingleBox{
float: left;
margin-top: 10px;
margin-left: 10px;
}


#Layers{
	color: dimgray;
}
